:root {
    --main-color: #308879;
}
*{
    margin: 0;padding: 09;
    text-decoration: none;
    text-transform: uppercase;
    outline: none;border: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 100%;display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;left: 0;
    padding: 30px;
}
header .logo {
    font-size: 30px;
    color: var(--main-color);
}

header nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}
header nav ul li {
    margin: 0 20px;
    animation: navLink .3s linear backwards;
    animation-delay: calc(.7s * var(--i));
}


header nav ul li a{
    font-size: 20px;
    color: var(--main-color);
    transition: letter-spacing .2s;
}
header nav ul li a:hover{
    opacity: .8;
    letter-spacing: 1px;
}
header nav ul li:last-child a{
    padding: 7px 50px;
    background-color: var(--main-color);
    border-radius: 50px;
    color:#fff;
}

header nav ul li:last-child:hover a {
    color: #fff;
    background: #000;
    box-shadow: 0 3px 8px rgba(0,0,0,0.3);
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 40px;
    background-color: #E9E8EE;
}
.container .image{
    margin-top: 200px;
}
.container .image img{
    width: 50vw;
}
.container .content {
    margin-top: -100px;
    padding-left: 100px;
}
.container .content h1 {
    color: var(--main-color);
    font-size: 80px;
    animation: fadeIn 1s linear backwards;
}
.container .content h3 {
    color: var(--main-color);
    font-size: 44px;
    font-weight: 400;
    animation: fadeIn 1s linear backwards;
    animation-delay: .2s;

}
.container .content p {
    color: #333;
    font-size: 17px;
    padding: 20px 0;
    animation: fadeIn 1s linear backwards;
    animation-delay: .3s;
}
.container .content button {
    outline: none;border: none;
    border-radius: 50px;
    background: var(--main-color);
    color: #fff;
    font-size: 17px;
    height: 40px;
    width: 180px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.3);
    cursor: pointer;
    transition: .2s;
    animation: fadeIn 1s linear backwards;
    animation-delay: .6s;
}
.container .content button:hover {
    color: #fff;
    background: #000;
}

@keyframes fadeIn{
    0%{
        transform: translateY(-150px) scale(0) rotate(45deg);
        transform-origin: left;
    }
    100%{
        transform: translateY(0) scale(1) rotate(0deg);
        transform-origin: left;
        
    }
}
@keyframes navLink{
    0%{
        transform: translateY(-50px) scale(0) rotate(-45deg);

    }
}